[submodule "Baccarat"]
	path = Baccarat
	url = https://github.com/Haxrox/Baccarat
[submodule "Realeux-Triangle"]
	path = Realeux-Triangle
	url = https://github.com/Haxrox/Realeux-Triangle
[submodule "MNIST-Hardware-Accelerator"]
	path = MNIST-Hardware-Accelerator
	url = https://github.com/Haxrox/MNIST-Hardware-Accelerator
[submodule "ARC4-Cipher"]
	path = ARC4-Cipher
	url = https://github.com/Haxrox/ARC4-Cipher
[submodule "Realeux-Triangle-Reference-Model"]
	path = Realeux-Triangle-Reference-Model
	url = https://github.com/Haxrox/Realeux-Triangle-Reference-Model
[submodule "ARC4-Reference-Model"]
	path = ARC4-Reference-Model
	url = https://github.com/Haxrox/ARC4-Reference-Model
